<a href="https://colab.research.google.com/github/kittikhun62/DWDM21/blob/main/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data_Preprecessing

### dataเดิม

data เเนะนำ

In [127]:
import pandas as pd # ข้อมูลลักษณะ ตาราง

In [128]:
from google.colab import drive #เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)
path = '/content/drive/My Drive/PROJECT'

In [130]:
data0 = pd.read_csv(os.path.join(path,'poppulationbyage56dcode.csv'))
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57dcode.csv'))
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59dcode.csv'))

In [131]:
data0

     id  dcode  sex dcode_sex  ...  CHR_56  othernationalities_56  move_56  0ver100
0     1   1033    1    1033_1  ...    4107                   1018      207      yes
1     2   1033    2    1033_2  ...    3832                    645      175      yes
2     3   1018    1    1018_1  ...    1101                    920      350      yes
3     4   1018    2    1018_2  ...     907                    753      323      yes
4     5   1046    1    1046_1  ...     442                    162      115      yes
..  ...    ...  ...       ...  ...     ...                    ...      ...      ...
95   96   1003    2    1003_2  ...     231                     70       70      yes
96   97   1041    1    1041_1  ...     842                    150      552      yes
97   98   1041    2    1041_2  ...     376                    118      157      yes
98   99   1017    1    1017_1  ...     745                    383      234      yes
99  100   1017    2    1017_2  ...     638                    272      177      yes

[100 rows x 111 columns]

In [132]:
data0.shape #ตรวจสอบขนาดของตารางใหม่

(100, 111)

In [133]:
data0.isnull().any()#เชคว่าภายในตารางมีค่าว่างหรือไม่
#ไม่ม่ค่าว่างอยู่

id                       False
dcode                    False
sex                      False
dcode_sex                False
age0_56                  False
                         ...
lunarcalendar_56         False
CHR_56                   False
othernationalities_56    False
move_56                  False
0ver100                  False
Length: 111, dtype: bool

In [134]:
data1

     id  dcode  sex dcode_sex  ...  CHR_57  othernationalities_57  move_57  over100
0     1   1033    1    1033_1  ...    4073                   1026      200      yes
1     2   1033    2    1033_2  ...    3824                    633      188      yes
2     3   1018    1    1018_1  ...    1371                    917      321      yes
3     4   1018    2    1018_2  ...    1195                    716      310      yes
4     5   1046    1    1046_1  ...     417                    184      124      yes
..  ...    ...  ...       ...  ...     ...                    ...      ...      ...
95   96   1003    2    1003_2  ...     239                     78       73      yes
96   97   1041    1    1041_1  ...     804                    158      569      yes
97   98   1041    2    1041_2  ...     365                    124      160      yes
98   99   1017    1    1017_1  ...     785                    402      218      yes
99  100   1017    2    1017_2  ...     676                    275      175      yes

[100 rows x 111 columns]

In [135]:
data1.shape

(100, 111)

In [136]:
data1.isnull().any()#เชคว่าภายในตารางมีค่าว่างหรือไม่
#ไม่ม่ค่าว่างอยู่

id                       False
dcode                    False
sex                      False
dcode_sex                False
age0_57                  False
                         ...
lunarcalendar_57         False
CHR_57                   False
othernationalities_57    False
move_57                  False
over100                  False
Length: 111, dtype: bool

In [137]:
data2

     id  dcode  sex dcode_sex  ...  CHR_59  othernationalities_59  move_59  over100
0     1   1033    1    1033_1  ...    3617                   1032      204      yes
1     2   1033    2    1033_2  ...    3524                    628      158      yes
2     3   1018    1    1018_1  ...    1852                    815      299      yes
3     4   1018    2    1018_2  ...    1713                    680      276      yes
4     5   1046    1    1046_1  ...     483                    230      112       no
..  ...    ...  ...       ...  ...     ...                    ...      ...      ...
95   96   1003    2    1003_2  ...     228                    106       95      yes
96   97   1041    1    1041_1  ...     771                    166      456      yes
97   98   1041    2    1041_2  ...     364                    147      106      yes
98   99   1017    1    1017_1  ...     995                    474      248      yes
99  100   1017    2    1017_2  ...     862                    311      180      yes

[100 rows x 111 columns]

In [138]:
data2.shape

(100, 111)

In [139]:
data2.isnull().any()

id                       False
dcode                    False
sex                      False
dcode_sex                False
age0_59                  False
                         ...
lunarcalendar_59         False
CHR_59                   False
othernationalities_59    False
move_59                  False
over100                  False
Length: 111, dtype: bool

In [140]:
data3.shape

(100, 1)

In [141]:
data3.isnull().any()

Marital    False
dtype: bool

##เลือกข้อมูลที่ต้องการใช้

In [146]:
data0_RE = data0[['id','dcode','dcode_sex','olderthan100_56','0ver100','sex']]
data0_RE

     id  dcode dcode_sex  olderthan100_56 0ver100  sex
0     1   1033    1033_1               14     yes    1
1     2   1033    1033_2               11     yes    2
2     3   1018    1018_1                8     yes    1
3     4   1018    1018_2                7     yes    2
4     5   1046    1046_1                4     yes    1
..  ...    ...       ...              ...     ...  ...
95   96   1003    1003_2               14     yes    2
96   97   1041    1041_1                5     yes    1
97   98   1041    1041_2               12     yes    2
98   99   1017    1017_1                7     yes    1
99  100   1017    1017_2               11     yes    2

[100 rows x 6 columns]

In [152]:
data1_RE = data1[['dcode_sex','olderthan100_57','over100']]
data1_RE

   dcode_sex  olderthan100_57 over100
0     1033_1               16     yes
1     1033_2               21     yes
2     1018_1                8     yes
3     1018_2                7     yes
4     1046_1                5     yes
..       ...              ...     ...
95    1003_2               13     yes
96    1041_1                6     yes
97    1041_2               15     yes
98    1017_1               13     yes
99    1017_2               12     yes

[100 rows x 3 columns]

In [154]:
data2_RE = data2[['dcode_sex','olderthan100_59','over100']]
data2_RE

   dcode_sex  olderthan100_59 over100
0     1033_1                5     yes
1     1033_2                6     yes
2     1018_1                2     yes
3     1018_2                6     yes
4     1046_1                0      no
..       ...              ...     ...
95    1003_2                7     yes
96    1041_1                3     yes
97    1041_2                3     yes
98    1017_1                1     yes
99    1017_2                5     yes

[100 rows x 3 columns]

###รวมตารางครั้งที่ 1

In [155]:
merged_table_dcode = data0_RE.merge(data1_RE,how='left',left_on='dcode_sex',right_on='dcode_sex')
merged_table_dcode

     id  dcode dcode_sex  olderthan100_56 0ver100  sex  olderthan100_57 over100
0     1   1033    1033_1               14     yes    1               16     yes
1     2   1033    1033_2               11     yes    2               21     yes
2     3   1018    1018_1                8     yes    1                8     yes
3     4   1018    1018_2                7     yes    2                7     yes
4     5   1046    1046_1                4     yes    1                5     yes
..  ...    ...       ...              ...     ...  ...              ...     ...
95   96   1003    1003_2               14     yes    2               13     yes
96   97   1041    1041_1                5     yes    1                6     yes
97   98   1041    1041_2               12     yes    2               15     yes
98   99   1017    1017_1                7     yes    1               13     yes
99  100   1017    1017_2               11     yes    2               12     yes

[100 rows x 8 columns]

In [164]:
merged_table_dcode2 = merged_table_dcode.merge(data2_RE,how='left',left_on='dcode_sex',right_on='dcode_sex')
merged_table_dcode2

     id  dcode dcode_sex  ...  over100_x olderthan100_59  over100_y
0     1   1033    1033_1  ...        yes               5        yes
1     2   1033    1033_2  ...        yes               6        yes
2     3   1018    1018_1  ...        yes               2        yes
3     4   1018    1018_2  ...        yes               6        yes
4     5   1046    1046_1  ...        yes               0         no
..  ...    ...       ...  ...        ...             ...        ...
95   96   1003    1003_2  ...        yes               7        yes
96   97   1041    1041_1  ...        yes               3        yes
97   98   1041    1041_2  ...        yes               3        yes
98   99   1017    1017_1  ...        yes               1        yes
99  100   1017    1017_2  ...        yes               5        yes

[100 rows x 10 columns]

In [168]:
merged_table_dcode2.rename(columns={'Over100':'Over100_56'},inplace = True)
merged_table_dcode2

     id  dcode dcode_sex  ...  over100_x olderthan100_59  over100_y
0     1   1033    1033_1  ...        yes               5        yes
1     2   1033    1033_2  ...        yes               6        yes
2     3   1018    1018_1  ...        yes               2        yes
3     4   1018    1018_2  ...        yes               6        yes
4     5   1046    1046_1  ...        yes               0         no
..  ...    ...       ...  ...        ...             ...        ...
95   96   1003    1003_2  ...        yes               7        yes
96   97   1041    1041_1  ...        yes               3        yes
97   98   1041    1041_2  ...        yes               3        yes
98   99   1017    1017_1  ...        yes               1        yes
99  100   1017    1017_2  ...        yes               5        yes

[100 rows x 10 columns]

In [150]:
merged_table_dcode2.shape

(100, 8)

In [151]:
merged_table_dcode2.isnull().any()

id                 False
dcode              False
dcode_sex          False
olderthan100_56    False
0ver100            False
sex                False
olderthan100_57    False
olderthan100_59    False
dtype: bool

## การนำข้อมูลในตารางมาใช้ประโยชน์ Classification

In [160]:
A = merged_table_dcode2.drop(columns=['id','dcode','dcode_sex','olderthan100_56','olderthan100_57','olderthan100_59','sex'])
A

   0ver100 over100_x over100_y
0      yes       yes       yes
1      yes       yes       yes
2      yes       yes       yes
3      yes       yes       yes
4      yes       yes        no
..     ...       ...       ...
95     yes       yes       yes
96     yes       yes       yes
97     yes       yes       yes
98     yes       yes       yes
99     yes       yes       yes

[100 rows x 3 columns]

   0ver100 over100_x over100_y
40     yes       yes       yes
41     yes       yes       yes
42     yes       yes       yes
43     yes       yes       yes
44     yes       yes        no
45     yes       yes       yes
46     yes       yes       yes
47     yes       yes       yes
48     yes       yes       yes
49     yes       yes       yes
50     yes       yes       yes
51     yes       yes       yes
52     yes       yes        no
53     yes       yes       yes
54     yes       yes       yes
55     yes       yes       yes
56     yes       yes       yes
57     yes       yes       yes
58     yes       yes       yes
59     yes       yes       yes
60     yes       yes       yes
61     yes       yes       yes
62     yes       yes       yes
63     yes       yes       yes
64     yes       yes       yes
65     yes       yes       yes
66      no        no        no
67     yes       yes       yes
68     yes       yes       yes
69     yes       yes       yes
70     yes       yes       yes
71     yes       yes       yes
72     yes       yes       yes
73     yes       yes       yes
74     yes       yes       yes
75     yes       yes       yes
76      no       yes        no
77     yes       yes       yes
78     yes       yes       yes
79     yes       yes        no
80     yes       yes       yes
81     yes       yes       yes
82     yes       yes        no
83     yes       yes       yes
84     yes       yes       yes
85     yes       yes       yes
86     yes       yes       yes
87     yes       yes        no
88     yes       yes       yes
89     yes       yes       yes
90     yes       yes       yes
91     yes       yes       yes
92     yes       yes       yes
93     yes       yes       yes
94     yes       yes       yes
95     yes       yes       yes
96     yes       yes       yes
97     yes       yes       yes
98     yes       yes       yes
99     yes       yes       yes

In [124]:
AA = merged_table_dcode2.drop(columns=['Marital'])
AA

     id  dcode dcode_sex  age20_56  age20_57  age20_59  sex
0     1   1033    1033_1       721       665       700    1
1     2   1033    1033_2       732       744       700    2
2     3   1018    1018_1       460       471       441    1
3     4   1018    1018_2       498       496       472    2
4     5   1046    1046_1      1157      1226      1496    1
..  ...    ...       ...       ...       ...       ...  ...
95   96   1003    1003_2      1162      1208      1291    2
96   97   1041    1041_1       676       718       727    1
97   98   1041    1041_2       689       690       708    2
98   99   1017    1017_1       527       453       469    1
99  100   1017    1017_2       472       466       468    2

[100 rows x 7 columns]

In [122]:
target = merged_table_dcode2['Marital']
target

0     Married
1      Single
2     Married
3      Single
4     Married
       ...
95     Single
96    Married
97     Single
98    Married
99     Single
Name: Marital, Length: 100, dtype: object

In [81]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [126]:
X = AA.values
X

array([[1, 1033, '1033_1', 721, 665, 700, 1],
       [2, 1033, '1033_2', 732, 744, 700, 2],
       [3, 1018, '1018_1', 460, 471, 441, 1],
       [4, 1018, '1018_2', 498, 496, 472, 2],
       [5, 1046, '1046_1', 1157, 1226, 1496, 1],
       [6, 1046, '1046_2', 1220, 1269, 1434, 2],
       [7, 1043, '1043_1', 576, 604, 665, 1],
       [8, 1043, '1043_2', 608, 611, 622, 2],
       [9, 1030, '1030_1', 947, 991, 1010, 1],
       [10, 1030, '1030_2', 945, 967, 982, 2],
       [11, 1035, '1035_1', 1174, 1081, 1088, 1],
       [12, 1035, '1035_2', 1169, 1082, 1080, 2],
       [13, 1036, '1036_1', 1230, 1254, 1464, 1],
       [14, 1036, '1036_2', 1052, 1121, 1174, 2],
       [15, 1026, '1026_1', 835, 861, 925, 1],
       [16, 1026, '1026_2', 909, 880, 824, 2],
       [17, 1002, '1002_1', 625, 603, 556, 1],
       [18, 1002, '1002_2', 766, 740, 697, 2],
       [19, 1019, '1019_1', 699, 785, 725, 1],
       [20, 1019, '1019_2', 726, 731, 699, 2],
       [21, 1048, '1048_1', 571, 544, 596, 1],
       [22, 1048, '1048_2', 507, 523, 562, 2],
       [23, 1049, '1049_1', 859, 880, 895, 1],
       [24, 1049, '1049_2', 783, 851, 910, 2],
       [25, 1015, '1015_1', 852, 833, 767, 1],
       [26, 1015, '1015_2', 914, 850, 794, 2],
       [27, 1020, '1020_1', 821, 746, 759, 1],
       [28, 1020, '1020_2', 798, 753, 712, 2],
       [29, 1016, '1016_1', 512, 496, 496, 1],
       [30, 1016, '1016_2', 495, 457, 454, 2],
       [31, 1006, '1006_1', 938, 941, 931, 1],
       [32, 1006, '1006_2', 935, 924, 954, 2],
       [33, 1021, '1021_1', 1174, 1231, 1377, 1],
       [34, 1021, '1021_2', 1160, 1230, 1325, 2],
       [35, 1005, '1005_1', 1202, 1132, 1253, 1],
       [36, 1005, '1005_2', 1188, 1179, 1215, 2],
       [37, 1031, '1031_1', 685, 620, 606, 1],
       [38, 1031, '1031_2', 656, 633, 588, 2],
       [39, 1040, '1040_1', 1369, 1441, 1497, 1],
       [40, 1040, '1040_2', 1356, 1379, 1390, 2],
       [41, 1029, '1029_1', 835, 815, 776, 1],
       [42, 1029, '1029_2', 804, 821, 795, 2],
       [43, 1047, '1047_1', 694, 645, 679, 1],
       [44, 1047, '1047_2', 640, 623, 615, 2],
       [45, 1050, '1050_1', 858, 875, 960, 1],
       [46, 1050, '1050_2', 837, 806, 905, 2],
       [47, 1025, '1025_1', 603, 608, 600, 1],
       [48, 1025, '1025_2', 685, 660, 645, 2],
       [49, 1004, '1004_1', 258, 246, 211, 1],
       [50, 1004, '1004_2', 244, 236, 261, 2],
       [51, 1027, '1027_1', 935, 1037, 1058, 1],
       [52, 1027, '1027_2', 991, 963, 1052, 2],
       [53, 1007, '1007_1', 316, 304, 313, 1],
       [54, 1007, '1007_2', 531, 485, 495, 2],
       [55, 1032, '1032_1', 1056, 1190, 1170, 1],
       [56, 1032, '1032_2', 1045, 1137, 1244, 2],
       [57, 1008, '1008_1', 340, 331, 301, 1],
       [58, 1008, '1008_2', 299, 278, 264, 2],
       [59, 1014, '1014_1', 438, 408, 454, 1],
       [60, 1014, '1014_2', 483, 459, 390, 2],
       [61, 1009, '1009_1', 618, 645, 618, 1],
       [62, 1009, '1009_2', 645, 618, 691, 2],
       [63, 1001, '1001_1', 405, 359, 403, 1],
       [64, 1001, '1001_2', 356, 337, 337, 2],
       [65, 1022, '1022_1', 972, 844, 917, 1],
       [66, 1022, '1022_2', 892, 912, 911, 2],
       [67, 1010, '1010_1', 1042, 980, 1103, 1],
       [68, 1010, '1010_2', 1004, 1007, 1091, 2],
       [69, 1012, '1012_1', 581, 555, 555, 1],
       [70, 1012, '1012_2', 532, 512, 541, 2],
       [71, 1037, '1037_1', 518, 457, 445, 1],
       [72, 1037, '1037_2', 725, 722, 694, 2],
       [73, 1024, '1024_1', 607, 624, 596, 1],
       [74, 1024, '1024_2', 589, 572, 579, 2],
       [75, 1011, '1011_1', 1139, 1184, 1370, 1],
       [76, 1011, '1011_2', 1197, 1193, 1345, 2],
       [77, 1038, '1038_1', 752, 764, 775, 1],
       [78, 1038, '1038_2', 772, 770, 825, 2],
       [79, 1045, '1045_1', 814, 788, 800, 1],
       [80, 1045, '1045_2', 793, 744, 775, 2],
       [81, 1039, '1039_1', 454, 386, 392, 1],
       [82, 1039, '1039_2', 431, 445, 420, 2],
       [83, 1034, '1034_1', 791, 745, 819, 1],
       [84, 1034, '1034_2', 769, 767, 821, 2],
       [85, 1044, '1044_1', 654, 671, 710, 1],
       [86, 1044, '1044_2', 675, 690, 679, 2],
       [87, 1013, '1013_1', 166, 181, 131, 1],
       [88, 1013, '1013_2', 149, 168, 152, 2],
       [89, 1028, '1028_1', 499, 529, 525, 1],
       [90, 1028, '1028_2', 530, 511, 470, 2],
       [91, 1042, '1042_1', 1322, 1383, 1643, 1],
       [92, 1042, '1042_2', 1329, 1352, 1461, 2],
       [93, 1023, '1023_1', 1148, 1143, 1176, 1],
       [94, 1023, '1023_2', 997, 1085, 1222, 2],
       [95, 1003, '1003_1', 1219, 1211, 1369, 1],
       [96, 1003, '1003_2', 1162, 1208, 1291, 2],
       [97, 1041, '1041_1', 676, 718, 727, 1],
       [98, 1041, '1041_2', 689, 690, 708, 2],
       [99, 1017, '1017_1', 527, 453, 469, 1],
       [100, 1017, '1017_2', 472, 466, 468, 2]], dtype=object)

#การเลือก model

#การวัดผล

## Visualightsation

# องค์ประกอบในการทำโปรเจคนี้

## Import the nescesary libraries for rain accumulation forecasting.


sklearn.metrics.accuracy_score

sklearn.model_selection.train_test_split

sklearn.tree.DecisionTreeClassifie

In [ ]:
#Import the pandas library for visualizing data | การ import ให้สามารถเรียกใช้ไลบรารี่ pandas ในการ visualizing ชุดข้อมูล
import pandas as pd 

#Import the accuracy_score library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ accuracy_score ในการหาค่าความแม่นยำในการพยากรณ์ด้วยตัวแบบ decision tree 
from sklearn.metrics import accuracy_score 

#Import the train_test_split library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ train_test_split ในการแบ่งชุดข้อมูลออกเป็น 2 ส่วน 
from sklearn.model_selection import train_test_split 

#Import the DecisionTreeClasifier from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ DecisionTreeClassifier ในการใช้งานตัวแบบ decision tree 
from sklearn.tree import DecisionTreeClassifier

#Import the matplotlib.pyplot library | การ import ให้สามารถเรียกใช้ไลบรารี่ matplotlib.pyplot ในการพลอตกราฟ 
import matplotlib.pyplot as plt

#Import the seaborn library | การ import ให้สามารถเรียกใช้ไลบรารี่ seaborn ในการพลอตกราฟที่เป็น dataframe 
import seaborn as sns

Import the drive library for integration Google Colab with Google Drive to access any files on Google Drive.

google.colab.drive

In [ ]:
#Import the drive library from Google Colab module | การ import ให้สามารถเรียกใช้ไลบรารี่ drive ในการเข้าถึงไฟล์บน Google Drive
from google.colab import drive  

#Mount the drive on Google Colab to access any files from Google Drive | การ mount ไดร์ฟบน Google Colab ในการเข้าถึงไฟล์บน Google Drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)
path = '/content/drive/My Drive/PROJECT' #Define the path to access .csv files on Google Drive | กำหนดตำแแหน่งของ path ในการเข้าถึงไฟล์นามสกุล .csv บน Google Drive

In [ ]:
#Read .csv files on the path with pandas | การอ่านไฟล์นามสกุล .csv ตามตำแหน่งของ path ที่กำหนด ด้วยไลบรารี่ pandas 
data0 = pd.read_csv(os.path.join(path,'poppulationbyage56.csv')) #ปี56
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57.csv')) #ปี67
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59.csv')) #ปี59

In [ ]:
#Display the dataframe of data variable while using head() method to show only the first 5 indexes | การแสดง dataframe ของตัวแปร data เฉพาะ index 5 อันดับแรกด้วยเมธอด head()
data0.head()

   id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0   1   1033    1   446  ...              1  4107                1018   207
1   2   1033    2   391  ...              1  3832                 645   175
2   3   1018    1   278  ...              2  1101                 920   350
3   4   1018    2   240  ...              1   907                 753   323
4   5   1046    1   981  ...              0   442                 162   115

[5 rows x 109 columns]

>Display all of the column name on data variable

In [ ]:
#Display all of the column name in data variable  | การแสดงชื่อคอลัมน์ทั้งหมดในตัวแปร data 
data0.head().columns

Index(['id', 'dcode', 'sex', 'age0', 'age1', 'age2', 'age3', 'age4', 'age5',
       'age6',
       ...
       'age96', 'age97', 'age98', 'age99', 'age100', 'olderthan100',
       'lunarcalendar', 'CHR', 'othernationalities', 'move'],
      dtype='object', length=109)

In [ ]:
#Check null values every single row of data variable then returns the two boolean values | การตรวจสอบค่า null ในทุกแถวของตัวแปร่ data จากนั้น return ค่าประเภท boolean ได้แก่ "True" หรือ "False"
data0.isnull().any().any()

False

In [ ]:
#Summarize null values each column while using sum() method | การหาผลรวมของค่า null ในแต่ละคอลัมน์ด้วยเมธอด sum()
data0.isnull().any()

id                    False
dcode                 False
sex                   False
age0                  False
age1                  False
                      ...
olderthan100          False
lunarcalendar         False
CHR                   False
othernationalities    False
move                  False
Length: 109, dtype: bool

In [ ]:
#We have to define the axis parameter of any() method to 1 for displaying the value of every single row which have null values 
#การแสดงค่าทุกแถวใน dataframe ที่เป็นค่า null ด้วยการกำหนด "axis=1" ใน any()
data0[data0.isnull().any(axis = 1)]

Empty DataFrame
Columns: [id, dcode, sex, age0, age1, age2, age3, age4, age5, age6, age7, age8, age9, age10, age11, age12, age13, age14, age15, age16, age17, age18, age19, age20, age21, age22, age23, age24, age25, age26, age27, age28, age29, age30, age31, age32, age33, age34, age35, age36, age37, age38, age39, age40, age41, age42, age43, age44, age45, age46, age47, age48, age49, age50, age51, age52, age53, age54, age55, age56, age57, age58, age59, age60, age61, age62, age63, age64, age65, age66, age67, age68, age69, age70, age71, age72, age73, age74, age75, age76, age77, age78, age79, age80, age81, age82, age83, age84, age85, age86, age87, age88, age89, age90, age91, age92, age93, age94, age95, age96, ...]
Index: []

[0 rows x 109 columns]

In [ ]:
#Duplicate the dataframe to avoid confusion | การทำสำเนาของ dataframe เพื่อหลีกเลี่ยงการทับซ้อนกันของการเรียกใช้ dataframe 
clean_data = data0.copy()