<a href="https://colab.research.google.com/github/kittikhun62/DWDM21/blob/main/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# สมาชิก


อ้างอิงข้อมูลจากเว๊บไซร์ www.data.go.th

1.ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 56 อ้างอิง : https://data.go.th/dataset/poppulationbyage56

2.ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 57 อ้างอิง : https://data.go.th/dataset/poppulationbyage57

3.ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 59 อ้างอิง : https://data.go.th/dataset/poppulationbyage59

วัตถุประสงค์ :เพื่อทำนายว่าเพศมีผลต่อการมีอายุยืน (มากกว่า 100) หรือไม่

#Data_Preprecessing

### data ข้อมูลจำนวนประชากรในกรุงเทพมหานคร จำแนกตามอายุและเขต ปี 59,57,56

In [1]:
#Import the pandas library for visualizing data | การ import ให้สามารถเรียกใช้ไลบรารี่ pandas ในการ visualizing ชุดข้อมูล
import pandas as pd

Import the drive library for integration Google Colab with Google Drive to access any files on Google Drive.

*  google.colab.

In [2]:
#Import the drive library from Google Colab module | การ import ให้สามารถเรียกใช้ไลบรารี่ drive ในการเข้าถึงไฟล์บน Google Drive
from google.colab import drive 

#Mount the drive on Google Colab to access any files from Google Drive | การ mount ไดร์ฟบน Google Colab ในการเข้าถึงไฟล์บน Google Drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
#Read .csv files on the path with pandas | การอ่านไฟล์นามสกุล .csv ตามตำแหน่งของ path ที่กำหนด ด้วยไลบรารี่ pandas 

import os
path = '/content/drive/My Drive/PROJECT'

In [6]:
# การเเสดง dataframe ผ่านตัวเเปร data ที่เราให้เเทนค่าเอาไว้ โดยให้ 
#data0 = ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 56 
#data1 = ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 57 
#data2 = ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 59
#data3 = ข้อมูลชุมชนเเออัด

data0 = pd.read_csv(os.path.join(path,'poppulationbyage56dcode.csv'))
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57dcode.csv'))
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59dcode.csv'))
data3 = pd.read_csv(os.path.join(path,'ชุมชนแออัด.csv'))

UnicodeDecodeError: ignored

 ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 56

In [ ]:
data0.head(50)

In [ ]:
data0.shape #ตรวจสอบขนาดของตารางใหม่

In [ ]:
data_0 = data0[['age20_56','olderthan100_56']]
data_0[data_0['age20_56',''] < 800].shape

In [ ]:
data_0.head(50)

In [ ]:
 data0.isnull().any()#Check null values every single row of data variable then returns the two boolean values | การตรวจสอบค่า null ในทุกแถวของตัวแปร่ data จากนั้น return ค่าประเภท boolean ได้แก่ "True" หรือ "False"

ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 57

In [ ]:
data1

In [ ]:
data1.shape

In [ ]:
data1.isnull().any()#เชคว่าภายในตารางมีค่าว่างหรือไม่
#ไม่ม่ค่าว่างอยู่

 ข้อมูลจำนวนประชากรในกรุ่งเทพมหานคร จำเเนกตามอายุเเละเขตปี 59

In [ ]:
data2

In [ ]:
data2.shape

In [ ]:
data2.isnull().any()

ข้อมูลชุมชนเเออัด

In [ ]:
data3

In [ ]:
data3.shape

##เลือกข้อมูลที่ต้องการใช้

In [ ]:
data0_RE = data0[['id','dcode','dcode_sex','olderthan100_56','over100_56','sex']]
data0_RE

In [ ]:
data1_RE = data1[['dcode_sex','olderthan100_57','over100_57']]
data1_RE

In [ ]:
data2_RE = data2[['dcode_sex','olderthan100_59','over100_59']]
data2_RE

###รวมตาราง

In [ ]:
merged_table_dcode = data0_RE.merge(data1_RE,how='left',left_on='dcode_sex',right_on='dcode_sex')
merged_table_dcode

In [ ]:
merged_table_dcode2 = merged_table_dcode.merge(data2_RE,how='left',left_on='dcode_sex',right_on='dcode_sex')
merged_table_dcode2

In [ ]:
merged_table_dcode3 = merged_table_dcode2.merge(data3,how='left',left_on='dcode',right_on='dcode')
merged_table_dcode3

In [ ]:
merged_table_dcode3.shape

In [ ]:
merged_table_dcode3.isnull().any()

Data minning

การนำข้อมูลในตารางมาใช้ประโยชน์ Classification

In [ ]:
A = merged_table_dcode3.drop(columns=['over100_56','over100_57','over100_59'])
A #จากข้อมูลในตารางเราได้ทำการ drop หรือการลบ colums ที่เราต้องการออก คือ colums over100_56,over100_57,over100_59 
#จะใช้ข้อมูลของ A เป็นค่า X= feature เป็นคำถาม ในการพยากรณ์ตามวัตถุประสงค์

In [ ]:
AA = merged_table_dcode3.drop(columns=['id','dcode','dcode_sex','olderthan100_56','sex','olderthan100_57','olderthan100_59','เขต','slum'])
AA #เราต้องการนำ colums over100_56, over100_57,over100_59 มาทำเป็นคำตอบ หรือ y = answer

In [ ]:
AAA = merged_table_dcode3.drop(columns=['over100_56','over100_57','over100_59'])
AAA

ให้ target, target1,target2 เเทน ตัวเเปร Feature หรือ X

In [ ]:
target = merged_table_dcode2['over100_56']
target

In [ ]:
target1 = merged_table_dcode2['over100_57']
target1

In [ ]:
target2 = merged_table_dcode2['over100_59']
target2

import เรียกใช้ Algorithm

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
#การเลือกเทรน model โดยใช้ split เป็นเมธอดของสตริง ใช้สำหรับแยกสตริงออกเป็นส่วน ๆ และคืนค่ากลับมาเป็น list โดยเราสามารถกำหนดได้ว่าจะให้เเยกโดย 0ver100 คือเเยกโดยมีคนอายุมากกว่า100 ปีอยู่ในเขตนั้นหรือไม่เเละเป็นเพศชายหรือหญิง
#เพราะ spliter เป็นการเเบ่งข้อมูลที่เป็นตัวเลข

In [ ]:
X = A.values
X #.values ดึงเฉพาะค่าทั้งหมดออกมาจากตัวแปร dict ออกมาจากตาราง ให้อยู่ในรูปเเบบค่า Array เพื่อใช้ในการทำ Model

In [ ]:
AA['over100_56'] = AA['over100_56'].map({'yes': 1,'no' : 0})
AA['over100_57'] = AA['over100_57'].map({'yes': 1,'no' : 0})
AA['over100_59'] = AA['over100_59'].map({'yes': 1,'no' : 0})
AA  #ฟังก์ชัน map ใช้ในการเปลี่ยนแปลงข้อมูล ในกลุ่มข้อมูล เช่น list, set, tuple, และ dict และจะคืนข้อมูลที่เปลี่ยนแปลงแล้วกลับไปตามชนิดกลุ่มข้อมูลนั้น เมื่อใช้ใส่กลับไปในชนิดข้อมูลนั้น

In [ ]:
merged_table_dcode2['over100_56'].value_counts()
merged_table_dcode2['over100_57'].value_counts()
merged_table_dcode2['over100_59'].value_counts()
#ฟังก์ชัน value_counts () สามารถใช้เพื่อรับจำนวนค่าที่ไม่ซ้ำกันสำหรับคอลัมน์ที่กำหนดในชุดข้อมูล

*  target = target.map({'yes': 1,'no':0}) เเทนคำตอบของปี 56
*  target1 = target.map({'yes': 1,'no':0}) เเทนคำตอบของปี 57
*  target2 = target.map({'yes': 1,'no':0}) เเทนคำตอบของปี 59


**ใช้ฟังก์ชั่น map ใช้ในการเปลี่ยนแปลงข้อมูล โดยให้ ั yes = 1 เเละ no = 2 เป็นจะเป็น คำตอบใน AI **

In [ ]:
target = target.map({'yes': 1,'no':0})
target1 = target1.map({'yes': 1,'no':0})
target2 = target2.map({'yes': 1,'no':0})

In [ ]:
target

In [ ]:
target1

In [ ]:
target2

In [ ]:
y = target.values
y1 = target1.values
y2 = target2.values
##ฟังก์ชัน value_counts () สามารถใช้เพื่อรับจำนวนค่าที่ไม่ซ้ำกันสำหรับคอลัมน์ที่กำหนดในชุดข้อมูล

y,y1,y2 เป็นตัวเเปรที่จะใส่เข้าไปในตัว Train model เพื่อเป็นตัวเเปรในคำตอบ

In [ ]:
y

In [ ]:
y1

In [ ]:
y2

การคัดเลือกตัวแบบ Train-Test

กำหนด parameters ให้กับ model

In [ ]:
mytree0 = DecisionTreeClassifier() # ไม่ได้กำหนด parameters เพราะ ต้นไม้มีเพียงเเค่ 2 Dimaintion เเละน้อย จึงสามารถมองเห็นชุดข้อมูลได้ครบถ้วนอยู่เเล้ว

plot tree

In [ ]:
from sklearn.tree import plot_tree

 ต้นไม้การทำนายของประชากร ปี56

In [ ]:
mytree0.fit(X,y)#การเทรนโมเดล โดยให้ค่า X = Faeture เเละ y = Answer ให้ค่าที่เราเเทนไว้เข้ามาเทรดในโมเดลที่เราตั้งไว้

In [ ]:
plot_tree(mytree0)

In [ ]:
mytree0.predict([[16, 1026, '1026_2', 61, 2, 69, 4]])

ต้นไม้ในการทำนายประชากร ปี 57

In [ ]:
mytree1 = DecisionTreeClassifier() # ไม่ได้กำหนด parameters เพราะ ต้นไม้มีเพียงเเค่ 2 Dimaintion เเละน้อย จึงสามารถมองเห็นชุดข้อมูลได้ครบถ้วนอยู่เเล้ว

In [ ]:
mytree1.fit(X,y1)

In [ ]:
plot_tree(mytree1)

ต้นไม้ในการทำนายปี 59

In [ ]:
mytree2 = DecisionTreeClassifier() # ไม่ได้กำหนด parameters เพราะ ต้นไม้มีเพียงเเค่ 2 Dimaintion เเละน้อย จึงสามารถมองเห็นชุดข้อมูลได้ครบถ้วนอยู่เเล้ว

In [ ]:
 mytree2.fit(X,y2)

In [ ]:
plot_tree(mytree2)

#การวัดผล

#Visualightsation

# องค์ประกอบในการทำโปรเจคนี้

## Import the nescesary libraries for rain accumulation forecasting.


sklearn.metrics.accuracy_score

sklearn.model_selection.train_test_split

sklearn.tree.DecisionTreeClassifie

In [ ]:
#Import the pandas library for visualizing data | การ import ให้สามารถเรียกใช้ไลบรารี่ pandas ในการ visualizing ชุดข้อมูล
import pandas as pd 

#Import the accuracy_score library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ accuracy_score ในการหาค่าความแม่นยำในการพยากรณ์ด้วยตัวแบบ decision tree 
from sklearn.metrics import accuracy_score 

#Import the train_test_split library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ train_test_split ในการแบ่งชุดข้อมูลออกเป็น 2 ส่วน 
from sklearn.model_selection import train_test_split 

#Import the DecisionTreeClasifier from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ DecisionTreeClassifier ในการใช้งานตัวแบบ decision tree 
from sklearn.tree import DecisionTreeClassifier

#Import the matplotlib.pyplot library | การ import ให้สามารถเรียกใช้ไลบรารี่ matplotlib.pyplot ในการพลอตกราฟ 
import matplotlib.pyplot as plt

#Import the seaborn library | การ import ให้สามารถเรียกใช้ไลบรารี่ seaborn ในการพลอตกราฟที่เป็น dataframe 
import seaborn as sns

Import the drive library for integration Google Colab with Google Drive to access any files on Google Drive.

google.colab.drive

In [ ]:
#Import the drive library from Google Colab module | การ import ให้สามารถเรียกใช้ไลบรารี่ drive ในการเข้าถึงไฟล์บน Google Drive
from google.colab import drive  

#Mount the drive on Google Colab to access any files from Google Drive | การ mount ไดร์ฟบน Google Colab ในการเข้าถึงไฟล์บน Google Drive 
drive.mount('/content/drive')

In [ ]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)
path = '/content/drive/My Drive/PROJECT' #Define the path to access .csv files on Google Drive | กำหนดตำแแหน่งของ path ในการเข้าถึงไฟล์นามสกุล .csv บน Google Drive

In [ ]:
#Read .csv files on the path with pandas | การอ่านไฟล์นามสกุล .csv ตามตำแหน่งของ path ที่กำหนด ด้วยไลบรารี่ pandas 
data0 = pd.read_csv(os.path.join(path,'poppulationbyage56.csv')) #ปี56
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57.csv')) #ปี67
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59.csv')) #ปี59

In [ ]:

#Display the dataframe of data variable while using head() method to show only the first 5 indexes | การแสดง dataframe ของตัวแปร data เฉพาะ index 5 อันดับแรกด้วยเมธอด head()
data0.head()

>Display all of the column name on data variable

In [ ]:


#Display all of the column name in data variable  | การแสดงชื่อคอลัมน์ทั้งหมดในตัวแปร data 
data0.head().columns

In [ ]:
#Check null values every single row of data variable then returns the two boolean values | การตรวจสอบค่า null ในทุกแถวของตัวแปร่ data จากนั้น return ค่าประเภท boolean ได้แก่ "True" หรือ "False"
data0.isnull().any().any()

In [ ]:
#Summarize null values each column while using sum() method | การหาผลรวมของค่า null ในแต่ละคอลัมน์ด้วยเมธอด sum()
data0.isnull().any()

In [ ]:
#We have to define the axis parameter of any() method to 1 for displaying the value of every single row which have null values 
#การแสดงค่าทุกแถวใน dataframe ที่เป็นค่า null ด้วยการกำหนด "axis=1" ใน any()
data0[data0.isnull().any(axis = 1)]

In [ ]:
#Duplicate the dataframe to avoid confusion | การทำสำเนาของ dataframe เพื่อหลีกเลี่ยงการทับซ้อนกันของการเรียกใช้ dataframe 
clean_data = data0.copy()