<a href="https://colab.research.google.com/github/kittikhun62/DWDM21/blob/main/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dataเดิม

In [6]:
import pandas as pd # ข้อมูลลักษณะ ตาราง

In [7]:
from google.colab import drive #เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)
path = '/content/drive/My Drive/PROJECT'

In [8]:
data0 = pd.read_csv(os.path.join(path,'poppulationbyage56dcode.csv'))
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57dcode.csv'))
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59dcode.csv'))

In [9]:
data0.head()

   id  dcode  sex dcode_sex  ...  lunarcalendar   CHR  othernationalities  move
0   1   1033    1    1033_1  ...              1  4107                1018   207
1   2   1033    2    1033_2  ...              1  3832                 645   175
2   3   1018    1    1018_1  ...              2  1101                 920   350
3   4   1018    2    1018_2  ...              1   907                 753   323
4   5   1046    1    1046_1  ...              0   442                 162   115

[5 rows x 110 columns]

In [12]:
data1.head()

   id  dcode  sex dcode_sex  ...  lunarcalendar   CHR  othernationalities  move
0   1   1033    1    1033_1  ...              1  4073                1026   200
1   2   1033    2    1033_2  ...              1  3824                 633   188
2   3   1018    1    1018_1  ...              2  1371                 917   321
3   4   1018    2    1018_2  ...              1  1195                 716   310
4   5   1046    1    1046_1  ...              0   417                 184   124

[5 rows x 110 columns]

In [26]:
merged_table1 = data0.merge(data1,how='left',left_on='dcode_sex',right_on='dcode_sex')
merged_table1 ##เชื่อมตารางเเรก ระหว่าง ตาราง sex11 ปี 56 เเละ sex22 ปี 59  ปล.ลองเชื่อด้วย sex เเล้วเเต่เกิด missing ในข้อมูลทั้งที่ในตารางก็มีข้อมูลอยู่เเล้ว ดังนั้นจึงมี dcode ที่เป็น index เพียงตัวด้วย

    id_x  dcode_x  sex_x  ... CHR_y  othernationalities_y  move_y
0      1     1033      1  ...  4073                  1026     200
1      2     1033      2  ...  3824                   633     188
2      3     1018      1  ...  1371                   917     321
3      4     1018      2  ...  1195                   716     310
4      5     1046      1  ...   417                   184     124
..   ...      ...    ...  ...   ...                   ...     ...
95    96     1003      2  ...   239                    78      73
96    97     1041      1  ...   804                   158     569
97    98     1041      2  ...   365                   124     160
98    99     1017      1  ...   785                   402     218
99   100     1017      2  ...   676                   275     175

[100 rows x 219 columns]

## Import the nescesary libraries for rain accumulation forecasting.


sklearn.metrics.accuracy_score

sklearn.model_selection.train_test_split

sklearn.tree.DecisionTreeClassifie

In [ ]:
#Import the pandas library for visualizing data | การ import ให้สามารถเรียกใช้ไลบรารี่ pandas ในการ visualizing ชุดข้อมูล
import pandas as pd 

#Import the accuracy_score library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ accuracy_score ในการหาค่าความแม่นยำในการพยากรณ์ด้วยตัวแบบ decision tree 
from sklearn.metrics import accuracy_score 

#Import the train_test_split library from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ train_test_split ในการแบ่งชุดข้อมูลออกเป็น 2 ส่วน 
from sklearn.model_selection import train_test_split 

#Import the DecisionTreeClasifier from scikit-learn module | การ import ให้สามารถเรียกใช้ไลบรารี่ DecisionTreeClassifier ในการใช้งานตัวแบบ decision tree 
from sklearn.tree import DecisionTreeClassifier

#Import the matplotlib.pyplot library | การ import ให้สามารถเรียกใช้ไลบรารี่ matplotlib.pyplot ในการพลอตกราฟ 
import matplotlib.pyplot as plt

#Import the seaborn library | การ import ให้สามารถเรียกใช้ไลบรารี่ seaborn ในการพลอตกราฟที่เป็น dataframe 
import seaborn as sns

Import the drive library for integration Google Colab with Google Drive to access any files on Google Drive.

google.colab.drive

In [ ]:
#Import the drive library from Google Colab module | การ import ให้สามารถเรียกใช้ไลบรารี่ drive ในการเข้าถึงไฟล์บน Google Drive
from google.colab import drive  

#Mount the drive on Google Colab to access any files from Google Drive | การ mount ไดร์ฟบน Google Colab ในการเข้าถึงไฟล์บน Google Drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os # จัดการไฟล์เเละ path(ที่อยู่ของไฟล์)
path = '/content/drive/My Drive/PROJECT' #Define the path to access .csv files on Google Drive | กำหนดตำแแหน่งของ path ในการเข้าถึงไฟล์นามสกุล .csv บน Google Drive

In [ ]:
#Read .csv files on the path with pandas | การอ่านไฟล์นามสกุล .csv ตามตำแหน่งของ path ที่กำหนด ด้วยไลบรารี่ pandas 
data0 = pd.read_csv(os.path.join(path,'poppulationbyage56.csv')) #ปี56
data1 = pd.read_csv(os.path.join(path,'poppulationbyage57.csv')) #ปี67
data2 = pd.read_csv(os.path.join(path,'poppulationbyage59.csv')) #ปี59

In [ ]:
#Display the dataframe of data variable while using head() method to show only the first 5 indexes | การแสดง dataframe ของตัวแปร data เฉพาะ index 5 อันดับแรกด้วยเมธอด head()
data0.head()

   id  dcode  sex  age0  ...  lunarcalendar   CHR  othernationalities  move
0   1   1033    1   446  ...              1  4107                1018   207
1   2   1033    2   391  ...              1  3832                 645   175
2   3   1018    1   278  ...              2  1101                 920   350
3   4   1018    2   240  ...              1   907                 753   323
4   5   1046    1   981  ...              0   442                 162   115

[5 rows x 109 columns]

>Display all of the column name on data variable

In [ ]:
#Display all of the column name in data variable  | การแสดงชื่อคอลัมน์ทั้งหมดในตัวแปร data 
data0.head().columns

Index(['id', 'dcode', 'sex', 'age0', 'age1', 'age2', 'age3', 'age4', 'age5',
       'age6',
       ...
       'age96', 'age97', 'age98', 'age99', 'age100', 'olderthan100',
       'lunarcalendar', 'CHR', 'othernationalities', 'move'],
      dtype='object', length=109)

In [ ]:
#Check null values every single row of data variable then returns the two boolean values | การตรวจสอบค่า null ในทุกแถวของตัวแปร่ data จากนั้น return ค่าประเภท boolean ได้แก่ "True" หรือ "False"
data0.isnull().any().any()

False

In [ ]:
#Summarize null values each column while using sum() method | การหาผลรวมของค่า null ในแต่ละคอลัมน์ด้วยเมธอด sum()
data0.isnull().any()

id                    False
dcode                 False
sex                   False
age0                  False
age1                  False
                      ...
olderthan100          False
lunarcalendar         False
CHR                   False
othernationalities    False
move                  False
Length: 109, dtype: bool

In [ ]:
#We have to define the axis parameter of any() method to 1 for displaying the value of every single row which have null values 
#การแสดงค่าทุกแถวใน dataframe ที่เป็นค่า null ด้วยการกำหนด "axis=1" ใน any()
data0[data0.isnull().any(axis = 1)]

Empty DataFrame
Columns: [id, dcode, sex, age0, age1, age2, age3, age4, age5, age6, age7, age8, age9, age10, age11, age12, age13, age14, age15, age16, age17, age18, age19, age20, age21, age22, age23, age24, age25, age26, age27, age28, age29, age30, age31, age32, age33, age34, age35, age36, age37, age38, age39, age40, age41, age42, age43, age44, age45, age46, age47, age48, age49, age50, age51, age52, age53, age54, age55, age56, age57, age58, age59, age60, age61, age62, age63, age64, age65, age66, age67, age68, age69, age70, age71, age72, age73, age74, age75, age76, age77, age78, age79, age80, age81, age82, age83, age84, age85, age86, age87, age88, age89, age90, age91, age92, age93, age94, age95, age96, ...]
Index: []

[0 rows x 109 columns]

In [ ]:
#Duplicate the dataframe to avoid confusion | การทำสำเนาของ dataframe เพื่อหลีกเลี่ยงการทับซ้อนกันของการเรียกใช้ dataframe 
clean_data = data0.copy()