<a href="https://colab.research.google.com/github/kittikhun62/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [5]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [6]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [8]:
gen_exams('623020760-0')

รหัสนักศึกษา 623020760-0 ทำข้อ 0 และ 5

ข้อ 0 หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [31]:
merged_table = airports.merge(flights,how='left',left_on='รหัสสนามบิน',right_on='รหัสสนามบินต้นทาง')
merged_table

         รหัสสนามบิน         เมือง  ... ความล่าช้าขาออก ความล่าช้าขาเข้า
0              10165   Adak Island  ...             NaN              NaN
1              10299     Anchorage  ...            27.0              2.0
2              10299     Anchorage  ...           -10.0            -38.0
3              10299     Anchorage  ...            -3.0            -27.0
4              10299     Anchorage  ...            -6.0            -23.0
...              ...           ...  ...             ...              ...
2702508        11233      Cheyenne  ...             NaN              NaN
2702509        11097          Cody  ...             NaN              NaN
2702510        11865      Gillette  ...             NaN              NaN
2702511        12441       Jackson  ...             NaN              NaN
2702512        14543  Rock Springs  ...             NaN              NaN

[2702513 rows x 11 columns]

In [36]:
merged_table.isnull().any()

รหัสสนามบิน           False
เมือง                 False
รัฐ                   False
ชื่อสนามบิน           False
วันในเดือน             True
วันในสัปดาห์           True
สายการบิน              True
รหัสสนามบินต้นทาง      True
รหัสสนามบินปลายทาง     True
ความล่าช้าขาออก        True
ความล่าช้าขาเข้า       True
dtype: bool

In [45]:
merged_table_dropna = merged_table.dropna()
merged_table_dropna

         รหัสสนามบิน      เมือง  ... ความล่าช้าขาออก ความล่าช้าขาเข้า
1              10299  Anchorage  ...            27.0              2.0
2              10299  Anchorage  ...           -10.0            -38.0
3              10299  Anchorage  ...            -3.0            -27.0
4              10299  Anchorage  ...            -6.0            -23.0
5              10299  Anchorage  ...            -4.0            -31.0
...              ...        ...  ...             ...              ...
2702496        13342  Milwaukee  ...            -7.0            -23.0
2702497        13342  Milwaukee  ...            23.0             26.0
2702498        13342  Milwaukee  ...             3.0              7.0
2702499        13342  Milwaukee  ...            -5.0             -7.0
2702500        13342  Milwaukee  ...            -7.0            -10.0

[2702218 rows x 11 columns]

In [48]:
merged_table_dropna.shape #จะเห็นได้ว่าหลังจากdropna มีข้อมูลของเเถวหายไปเป็นเเถวที่มีช่องว่าง Nan

(2702218, 11)

ขาเข้ามากสุด

In [84]:
total = merged_table_dropna.groupby('รัฐ')['ความล่าช้าขาเข้า'].max()

In [85]:
total = pd.DataFrame(total_Max)

In [86]:
total.reset_index()

   รัฐ  ความล่าช้าขาเข้า
0   AK             612.0
1   AZ            1835.0
2   CA            1385.0
3   CO            1143.0
4   CT            1227.0
5   DC            1137.0
6   FL            1466.0
7   GA            1429.0
8   HI            1228.0
9   IL            1081.0
10  IN            1423.0
11  KY            1064.0
12  LA             894.0
13  MA            1146.0
14  MD            1175.0
15  MI            1179.0
16  MN            1436.0
17  MO             988.0
18  NC            1440.0
19  NE            1301.0
20  NJ             875.0
21  NM            1391.0
22  NV            1845.0
23  NY            1127.0
24  OH            1122.0
25  OK            1134.0
26  OR            1330.0
27  PA            1475.0
28  PR             842.0
29  RI             631.0
30  TN            1351.0
31  TX            1233.0
32  UT            1609.0
33  VA            1114.0
34  WA            1421.0
35  WI            1032.0

In [87]:
max(total['ความล่าช้าขาเข้า'])

1845.0

In [88]:
total.describe()

       ความล่าช้าขาเข้า
count         36.000000
mean        1225.583333
std          274.329664
min          612.000000
25%         1105.750000
50%         1203.000000
75%         1421.500000
max         1845.000000

In [89]:
total_Max[total['ความล่าช้าขาเข้า'] == 1845]  # ดั้งนั้นรัฐที่มีจำนวนเที่ยวบินขาเข้ามากที่สุดคือ รัฐ Navada (NV)

     ความล่าช้าขาเข้า
รัฐ
NV             1845.0

In [90]:
min(total['ความล่าช้าขาเข้า'])

612.0

In [91]:
total_Max[total['ความล่าช้าขาเข้า'] == 612.0] #ดั้งนั้นรัฐที่มีจำนวนเที่ยวบินขาเข้าน้อยที่สุดคือ รัฐ Alaska (Ak)

     ความล่าช้าขาเข้า
รัฐ
AK              612.0